{% extends "ApptooMembMemberBundle::layout.html.twig" %}

{% block content %}
	<div class="panel-heading">Modifier votre profil</div>
		<br/>
		{% include "ApptooMembMemberBundle:Profile:memberform.html.twig" %}
	</div>
{% endblock %}